.register {
    width: 1000px;
    padding: 20px;
    line-height: 30px;
}

h1 {
    font-weight:200;
    color: #888888;
    font-size:22pt;
    background: transparent url(img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
    display: inline;
}

fieldset{
    padding-bottom: 30px;
}

.error-message {
    font-style: italic;
    color: red;
    display: inline;
    position: absolute;
}

.error-message li {
    font-style: italic;
    color: red;
    display: inline;
    position: absolute;
}

.button
{
    background: #abda0f url(img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}

input {
    display: inline;
    float: left;
    width: 150px;
    height: 2em;

}

label {
    display: inline;
    float: left;
    width: 120px;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 0px;
    font-weight: 500;
}


#mandatory{
    float: right;
    display: inherit;
    padding-right: 100px;
    font-style: italic;
    color: #9f9f9f;
}

form.register legend
{
    color: #69c121;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 20px;
    font-weight:100;
}

form.register fieldset.row1 label{
    width: 150px;
}

form.register fieldset.row1 .membership_type label{
    width: 150px;
    font-weight: 400;
}



form.register fieldset.row1 input{
    float: left;
    width: 13px;
    margin-left: 20px;
    margin-right:10px;
}

.membership_type label{
    text-align: left;
}

form.register fieldset.row2 .email{
    width: 500px;
}

form.register fieldset.row2 .confirm{
    display:inline-block;
    margin-left: 70px;
}

form.register fieldset.row2 .confirm label{
    width: 125px;
}

form.register fieldset.row2 .confirm input{
    width: 145px;
}

form.register fieldset.row3 .address{
    width: 500px;
}

form.register fieldset.row3 select#width {
    display: inline;
    width: 150px;
}

form.register fieldset.row3 .state{
    display:inline-block;
    position:absolute;
}

form.register fieldset.row3 .country{
    display:inline-block;
    position: relative;
    left: 364px;
}

form.register fieldset .postcode label{
    width: 80px;
    margin-left: 110px;
}

form.register fieldset.row3 .lastName label{
    width: 80px;
    margin-left: 110px;
}

form.register fieldset.row3 .country label{
    width: 80px;
    margin-left: 26px;
}

form.register fieldset.row3 .phone label{

}

form.register fieldset.row5 input{
    float: left;
    width: 13px;
    margin-left: 70px;
}

form.register fieldset.row5 label{
    float: left;
    width: 400px;
    text-align: left;
    margin-left: 20px;
    font-weight: 400;
}

form.register fieldset.row6 label{
    width: 160px;
}

form.register fieldset.row6 input{
    width: 300px;
}

form.register textarea{
    margin-left: 100px;
}

form input.email
{
    width: 350px;
}

form input.barcode
{
    width: 250px;
}